.background{
    background-color: grey;
}
body{
    background-color: gray;
    color: black;
    font-family: 'Lucida Console';
}
.topnav{
    border-radius: 30px;
    border: 10px solid darkgray;
    overflow: hidden;
    background-color: grey;
    font-family: 'Lucida Console';
    padding: 25px;
    font-size: 25px;
    text-shadow: 0 0 3px white;
}
.topnav a{
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
    font-family: 'Lucida Console';
    color: white;
    font-size: 20px;
    padding: 15px, 15px;
    display:inline-block;
    
}
#flex-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 12px;
}
#flex-container > #display{
    width: 500px;
    
    font-size: 30px;
    background-color: purple;
}
h1{
    font-size: 40px;
    padding: 50px;
}
ul{
    display: inline;
    margin: 0;
    padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: darkgray;}
ul li:hover ul{display: block;}
ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}
ul li ul li {
    background: darkgray;
    display: block;
}
ul li ul li a {display:block !important;}
ul li ul li:hover {background: gray;}
