.background{
    background-color: grey;
}
body{
    background-color: gray;
    color: black;
    font-family: 'Lucida Console';
}
.topnav{
    border-radius: 30px;
    border: 10px solid darkgray;
    overflow: hidden;
    background-color: grey;
    font-family: 'Lucida Console';
    padding: 25px;
    font-size: 25px;
    text-shadow: 0 0 3px white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 12px;
}
.topnav a{
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
    font-family: 'Lucida Console';
    color: white;
    font-size: 20px;
    padding: 15px, 15px;
    display:inline-block;
    
}
#flex-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 12px;
}
#flex-container > #display{
    width: 1600px;
    height: 600px;
    font-size: 30px;
    background-color: purple;
}
#flex-product{
    display: flex;
    flex-direction: row;
    
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 12px;
}
#flex-product > #product{
    width: 700px;
    height: 700px;
    font-size: 30px;
    border-radius: 30px;
    border: 10px solid darkgray;
    overflow: hidden;
}
#flex-product > #spacer{
    width: 10px;
    height: 700px;
    font-size: 30px;
}
#flex-product > #priceInfo{
    width: 350px;
    height: 700px;
    font-size: 30px;
    background-color: purple;
    border-radius: 30px;
    border: 10px solid darkgray;
    overflow: hidden;
}
#flex-Information{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 12px;
    background-color: purple;
    border-radius: 30px;
    border: 10px solid darkgray;
    overflow: hidden;
    font-size: 18px;
}
#buttonDiv{
    display: flex;
    align-items: center;
}
#cartButton{
    width: 300px;
    height: 50px;
    background-color: green;
    font-size: 18px;
}
h1{
    font-size: 40px;
    margin-left: 55px;
}
h2{
    font-size: 24px;
    margin-left: 75px;
    color: white;
}
ul{
    display: inline;
    margin: 0;
    padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: darkgray;}
ul li:hover ul{display: block;}
ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}
ul li ul li {
    background: darkgray;
    display: block;
}
ul li ul li a {display:block !important;}
ul li ul li:hover {background: gray;}
