style
 {
    box-sizing: border-box;
    font-family: 'Lucida Console';
    
}
.background{
    background-color: black;
}
.header{
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}
body{
    font-family: 'Verdana', 'Arial', 'sans-serif';
    background-color: black;
}
h1{
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 5px #FF00D2;
    padding: 10px;
    font-family: 'Lucida Console';
    text-align: left;
    font-size: 30px;
}
h2{
    padding: 10px;
    background-color: #019FFF;
    font-weight: bold;
    font-family: 'Lucida Console';
    text-align: left;
    font-size: 30px;
}
p{
    color: black;
    font-family: 'Lucida Console';
    font-size: 20px;
    margin: auto;
}
.topnav{
    border-radius: 30px;
    border: 10px solid #FF00D2;
    overflow: hidden;
    background-color: #019FFF;
    font-family: 'Lucida Console';
    font-size: 25px;
    text-shadow: 0 0 3px white;
}
.topnav a{
    float: left;
    display: block;
    color:blueviolet;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lucida Console';
    
}
.topnav a:hover{
    background-color: #FF00D2;
    color:#019FFF;
    text-shadow: 0 0 3px black;
}
.Info{
    background-color: #019FFF;
    border: 10px solid #FF00D2;
    border-radius: 30px;
    
}
.Album{
    background-color: #019FFF;
    border: 10px solid #FF00D2;
    border-radius: 30px;
}
/*container classes to create rows and columns for webpage formatting*/
.row{
    display: -webkit-flex;
    display: flex;
}
.column{
    padding: 10px;
}
.column.side{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
@media (max-width: 600px){
    .row{
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
.bandImage{
    border-radius: 30px;
    border: 12px solid #FF00D2;
    background-image: url('Protomen.jpg');
}
#footer{
    
    color: white;
    font-style: italic;
    padding: 3px;
    text-align: center;
}